* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  color: #5c5b5b;
}

body button {
  font-family: "Muli", sans-serif;
}

body path, body i, body svg {
  pointer-events: none;
}

body .colors {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .colors .color {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

body .colors .color h2 {
  font-size: 2rem;
  cursor: pointer;
}

body .colors .color .controls {
  margin: 3rem 0rem -1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .colors .color .controls button {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 1rem;
}

body .colors .color .sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0%;
  background: #faf8f8;
  opacity: 0;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  pointer-events: none;
  /* We are adding an adjustment class */
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .colors .color .sliders .active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: all;
}

body .colors .color .sliders button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.15rem;
  border-radius: 1rem;
  border: none;
  background: #7e7d7d;
  color: white;
  font-weight: bold;
}

body .panel {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .panel button {
  font-size: 1.2rem;
  margin: 1rem;
  background: #1f213f;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
}

body .panel p {
  font-size: 1.2rem;
}

body .panel .library-panel, body .panel .generate-panel, body .panel .save-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */